.review-item {
    width: 571px;
    height: 107px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px;
}

.review-item img{
    width: 91px;
    height: 91px;
}